@import url("./Var.scss");
*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-family: var(--font);
}

.wrapper {
  padding-inline: 24px;
}

ul {
  -webkit-margin-start: 1.5rem;
          margin-inline-start: 1.5rem;
}
ul li {
  padding: 0 0 0 10px;
}
ul li::marker {
  color: var(--clr-call-main);
}

button, input {
  border: unset;
  background-color: unset;
}

button {
  cursor: pointer;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 120px;
  height: 24px;
  border: unset;
  font-weight: 700;
  border-radius: 10px;
  background-color: transparent;
  color: var(--clr-txt-main);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-padding-end: var(--mb);
          padding-inline-end: var(--mb);
}
select:focus {
  outline: unset;
  background-color: var(--clr-bg-third);
}
select::after {
  padding: 1rem;
}

.arrowdown {
  position: absolute;
  top: 0;
  right: 5px;
  pointer-events: none;
}

input[type=range] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: var(--clr-bg-sub);
  border-radius: 20px;
  width: 40px;
  height: 20px;
  padding: 0 2px;
  position: relative;
  -webkit-writing-mode: bt-lr;
      -ms-writing-mode: bt-lr;
          writing-mode: bt-lr;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 14px;
  aspect-ratio: 1/1;
  background-color: var(--clr-bg-main);
  border-radius: 50%;
  cursor: pointer;
}
input[type=range]::-ms-thumb {
  appearance: none;
  width: 1rem;
  height: 1rem;
  background-color: var(--clr-bg-sub);
  border-radius: 50%;
}
input[type=range].darkmode {
  background-color: var(--clr-call-main);
}
input[type=range].darkmode::-webkit-slider-thumb {
  background-color: var(--clr-txt-main);
}
input[type=range].darkmode::-ms-thumb {
  background-color: var(--clr-bg-main);
}
input[type=range].darkmode + div svg path {
  stroke: var(--clr-call-main) !important;
}
input[type=text] {
  background-color: var(--clr-bg-third);
  width: 100%;
  display: block;
  height: 3rem;
  border-radius: 0.8rem;
  padding-inline: 2rem;
  font-weight: 900;
  color: var(--clr-txt-main);
}
input[type=text]:focus {
  outline: 1px solid var(--clr-call-main);
}
input[type=text].invalid {
  outline: 1px solid var(--clr-call-sub);
}
input[type=text]::-webkit-input-placeholder {
  color: var(--clr-txt-sub);
}
input[type=text]::-moz-placeholder {
  color: var(--clr-txt-sub);
}
input[type=text]:-ms-input-placeholder {
  color: var(--clr-txt-sub);
}
input[type=text]::-ms-input-placeholder {
  color: var(--clr-txt-sub);
}
input[type=text]::placeholder {
  color: var(--clr-txt-sub);
}

span.error {
  display: block;
  font-size: smaller;
  color: var(--clr-call-sub);
  margin-block: 1rem 0;
}

header.main-header .top-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  margin-block: var(--mb);
}
header.main-header .top-header .logo-container {
  -webkit-margin-end: auto;
          margin-inline-end: auto;
}
header.main-header .top-header .darkmode-container label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
header.main-header .fonts-setup-container {
  position: relative;
}
header.main-header .bottom-header {
  -webkit-margin-after: var(--mb);
          margin-block-end: var(--mb);
}
header.main-header .bottom-header form {
  position: relative;
}
header.main-header .bottom-header form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header.main-header .bottom-header .search-container {
  position: relative;
}
header.main-header .bottom-header button {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 100%;
  padding: 0 1rem;
  border-radius: 50%;
}
header.section-header .top-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-block: var(--mb);
}
header.section-header .top-header h2 .headerline {
  font-size: 48px;
}
header.section-header .top-header h2 .phonetic {
  display: block;
  font-size: 1rem;
  font-weight: 100;
  color: var(--clr-call-main);
}
header.section-header .top-header button svg {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 2.3rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
header.section-header .top-header button:hover svg g circle {
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
header.section-header .top-header button:hover svg g path {
  fill: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.italic {
  font-style: italic;
  color: var(--clr-txt-main);
}

li {
  margin-block: 1rem;
}

.details .italic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  position: relative;
  -webkit-margin-after: var(--mb);
          margin-block-end: var(--mb);
}
.details .italic::after {
  content: "";
  position: relative;
  background-color: var(--clr-bg-third);
  height: 2px;
  width: 100%;
}
.details .definition {
  -webkit-margin-after: var(--mb);
          margin-block-end: var(--mb);
}
.details .definition .meaning-container {
  -webkit-margin-after: var(--mb);
          margin-block-end: var(--mb);
}
.details .definition .meaning-container h4 {
  color: var(--clr-txt-sub);
  font-size: 1rem;
  font-weight: normal;
  -webkit-margin-after: var(--mb);
          margin-block-end: var(--mb);
}
.details .definition .synonym-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-margin-before: var(--mb);
          margin-block-start: var(--mb);
}
.details .definition .synonym-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.details .definition .synonym-container li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.details .definition .synonym-container li button {
  cursor: pointer;
  color: var(--clr-call-main);
  font-weight: bolder;
}
.details .definition .synonym-container h4 {
  color: var(--clr-txt-sub);
  font-size: 1rem;
  font-weight: normal;
}

.source-container {
  padding-block: var(--mb);
  -webkit-border-before: 1px solid var(--clr-bg-third);
          border-block-start: 1px solid var(--clr-bg-third);
}
.source-container .title {
  text-decoration: underline;
  color: var(--clr-txt-sub);
  font-weight: normal;
  display: block;
  width: 100%;
}
.source-container a {
  color: var(--clr-txt-main);
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.source-container a img {
  text-decoration: none;
  display: block;
}

.wordsuggestion-container:not(:empty) {
  position: absolute;
  z-index: 999;
  max-height: 250px;
  overflow-y: scroll;
  width: 100%;
  left: 0;
  right: 0;
  margin: 1rem 0;
  top: 100%;
  border-radius: 10px;
  border: 1px solid var(--clr-bg-sub);
  background-color: var(--clr-bg-main);
  -webkit-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3137254902);
          box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3137254902);
}
.wordsuggestion-container:not(:empty) li a {
  display: block;
  width: 100%;
  padding: 0.2rem 1rem;
}/*# sourceMappingURL=App.css.map */