@import url("./Var.scss");
*, *::after,*::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,body{
    font-family: var(--font);
}
.wrapper{
    padding-inline:24px;
}
ul{
    margin-inline-start: 1.5rem;
    li{
        padding: 0 0 0 10px;
        &::marker{
            color: var(--clr-call-main);
        }
    }
}
button, input{
    border: unset;
    background-color:unset;
}
button{
    cursor:pointer;
}

select{
    appearance: none;
    width: 120px;
    height: 24px;
    border: unset;
    font-weight: 700;
    border-radius: 10px;
    background-color:transparent;
    color: var(--clr-txt-main);
    width: fit-content;
    padding-inline-end: var(--mb);
    &:focus{
        outline: unset;
        background-color: var(--clr-bg-third)
    }
    &::after{
        padding: 1rem; 
    }
}
.arrowdown{
    position:absolute;
    top: 0;
    right: 5px;
    pointer-events: none;
}

input{
    &[type="range"]{
        appearance: none;
        background-color: var(--clr-bg-sub);
        border-radius: 20px;
        width: 40px;
        height: 20px;
        padding: 0 2px;
        position: relative;
        writing-mode: bt-lr;
        &::-webkit-slider-thumb{
            appearance: none;
            width: 14px;
            aspect-ratio: 1/1;
            background-color:var(--clr-bg-main);
            border-radius: 50%;
            cursor: pointer;
        }
        &::-ms-thumb{
            appearance: none;
            width: 1rem;
            height: 1rem;
            background-color:var(--clr-bg-sub);
            border-radius: 50%;
        }
        &.darkmode{
            background-color:var(--clr-call-main);
            &::-webkit-slider-thumb{
                background-color:var(--clr-txt-main);
            }
            &::-ms-thumb{
                background-color:var(--clr-bg-main);
            }
            & + div{
                svg{
                    path{
                        stroke: var(--clr-call-main) !important;
                    }
                }
            }
        }
    }
    &[type="text"]{
        background-color: var(--clr-bg-third);
        width: 100%;
        display:block;
        height: 3rem;
        border-radius: 0.8rem;
        padding-inline: 2rem;
        color: var(--clr-txt-main);
        font-weight: 900;
        &:focus{
            outline:1px solid var(--clr-call-main);
        }
        &.invalid{
            outline:1px solid var(--clr-call-sub);
        }
    }
}
span.error{
    position:absolute;
    bottom: -18px;
    font-size: smaller;
    color: var(--clr-call-sub);
}
header{
    &.main-header{
        .top-header{
            display:flex;
            justify-content: flex-end;
            align-items:center;
            gap: 1rem;
            margin-block: var(--mb);
            .logo-container{
                margin-inline-end:auto;
            }
            .darkmode-container{
                label{
                    display:flex;
                    align-items: center;
                    gap: 1rem;
                }
            }

        }
        .fonts-setup-container{
            position:relative;
            
        }
        .bottom-header{
            margin-block-end: var(--mb);
            form{
                position:relative;
                label{
                    display:flex;
                }
            }
            button{
                position:absolute;
                right: 1rem;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    &.section-header{
        .top-header{
            display:flex;
            gap: 1rem;
            align-items:center;
            justify-content: space-between;
            margin-block: var(--mb);
            h2{
                .headerline{
                    font-size: 48px;
                }
                .phonetic{
                    display:block;
                    font-size: 1rem;
                    font-weight: 100;
                    color: var(--clr-call-main);
                }
            }
            button{
                svg{
                    height: fit-content;
                    width:2.3rem;
                    transition: all 0.3s;
                }    
                &:hover{
                    svg{
                       g{
                            circle{
                                opacity: 1;
                                transition: all 0.3s;
                            }
                            path{
                                fill: #fff;
                                transition: all 0.3s;
                            }
                       } 
                    }
                }
            }
            
        }

    }
}

.italic{
    font-style: italic;
    color: var(--clr-txt-main);
}

li{
    margin-block: 1rem;
}
.details{
    .italic{
        display:flex;
        // width: fit-content;
        justify-content: space-between;
        align-items: center;
        gap:2rem;
        position:relative;
        margin-block-end: var(--mb);
        &::after{
            content:"";
            position:relative;
            background-color:var(--clr-bg-third);
            height: 2px;
            width: 100%;
        }
    }
    .definition{
        margin-block-end:var(--mb);
        .meaning-container{
            margin-block-end: var(--mb);
            h4{
                color: var(--clr-txt-sub);
                font-size: 1rem;
                font-weight: normal;
                margin-block-end: var(--mb);
            }
        }
        .synonym-container{
           display:flex;
           align-items:flex-start;
           margin-block-start: var(--mb);
           ul{
            display:flex;
            flex-flow: row wrap;
            gap: 1rem;
            align-items: center;
            justify-content: flex-start;
           }
           li{
            list-style:none;
            margin: 0;
            padding: 0;
            button{
                cursor: pointer;
                color: var(--clr-call-main);
                font-weight:bolder;
            }
           }
            h4{
                color: var(--clr-txt-sub);
                font-size: 1rem;
                font-weight: normal;
            }
        }
        
    }
}
.source-container{
    padding-block: var(--mb);
    border-block-start: 1px solid var(--clr-bg-third);
    .title{
        text-decoration: underline;
        color:var(--clr-txt-sub);
        font-weight: normal;
        display:block;
        width: 100%;
    }
    a{
        color: var(--clr-txt-main);
        font-size: 1rem;
        display:flex; gap: 0.5rem;
        flex-flow: row wrap;
        align-items: center;
        img{
            text-decoration: none;
            display: block;
        }
    }
}